@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Chakra Petch";
    src: url("/fonts/chakra/ChakraPetch-Bold") format("ttf");
    font-weight: bold;
    font-style: normal;
  }
  body {
    @apply bg-mainImage_sm md:bg-mainImage_md lg:bg-mainImage_lg bg-fixed bg-no-repeat bg-cover text-white;
  }
  p {
    @apply mb-4 text-base;
  }
}
